---
const { children } = Astro.props;
---
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <title>PvO Keti Koti</title>
  </head>
  <body>
    <main>
      {children}
    </main>
  </body>
</html>
